# üìå Data Cleaning Notebook (02_data_cleaning.ipynb)

## üìù Objective  
This notebook cleans the raw admission dataset by:  
- Handling missing values  
- Fixing inconsistent data (typos, wrong labels)  
- Removing duplicate records  
- Normalizing numerical values (GPA, SAT Score)

In [ ]:
import pandas as pd
import numpy as np

# Load the dataset
file_path = "../data/raw/admission_data.csv"  
df = pd.read_csv(file_path)

# Display the first few rows
df.head()

,Applicant_ID,Age,Gender,Program_Applied,GPA,SAT_Score,Acceptance_Status,Scholarship_Status,Enrollment_Status
0,1024,17.0,Mal,Engineering,2.62,1138.0,Rejected,Yes,Not Enrolled
1,1245,19.0,Male,Healthcare,3.39,1153.0,Rejected,Yes,Enrolled
2,1248,25.0,Male,Computer Science,2.27,1058.0,Rejected,Yes,Enrolled
3,1167,19.0,Male,Healthcare,2.63,1449.0,Accepted,Yes,Not Enrolled
4,1424,23.0,Male,Business,3.02,1455.0,Rejected,No,Not Enrolled

In [3]:
# Check for missing values
missing_values = df.isnull().sum()
missing_values

Applicant_ID           0
Age                   50
Gender                 0
Program_Applied        0
GPA                   50
SAT_Score             50
Acceptance_Status      0
Scholarship_Status    50
Enrollment_Status      0
dtype: int64

In [8]:
# Fill missing values for numerical columns
df['Age'] = df['Age'].fillna(df['Age'].median())
df['GPA'] = df['GPA'].fillna(df['GPA'].mean())
df['SAT_Score'] = df['SAT_Score'].fillna(df['SAT_Score'].median())

# Fill missing values for categorical column
df['Scholarship_Status'] = df['Scholarship_Status'].fillna(df['Scholarship_Status'].mode()[0])

# Verify that all missing values are handled
df.isnull().sum()

Applicant_ID          0
Age                   0
Gender                0
Program_Applied       0
GPA                   0
SAT_Score             0
Acceptance_Status     0
Scholarship_Status    0
Enrollment_Status     0
dtype: int64

In [10]:
# Fix Gender inconsistencies
df['Gender'] = df['Gender'].replace({'Fmale': 'Female', 'Mal': 'Male', 'Femal': 'Female', 'Mle': 'Male'})

# Standardize Program names
df['Program_Applied'] = df['Program_Applied'].replace({
    'Comp Sci': 'Computer Science',
    'Cmptr Sci': 'Computer Science',
    'CompSci': 'Computer Science',
    'Engg': 'Engineering',
    'Bussiness': 'Business',
    'Hlthcare': 'Healthcare',
    'Healthcar': 'Healthcare'
})

# Verify unique values
df['Gender'].value_counts(), df['Program_Applied'].value_counts()

(Gender
 Male      496
 Female    476
 Other      28
 Name: count, dtype: int64,
 Program_Applied
 Healthcare          432
 Engineering         186
 Computer Science    182
 Business            132
 Design               68
 Name: count, dtype: int64)

In [11]:
# Check for duplicate rows
duplicate_rows = df.duplicated().sum()
print(f"Duplicate Rows Before: {duplicate_rows}")

# Remove duplicates
df = df.drop_duplicates()

# Verify duplicates removed
print(f"Duplicate Rows After: {df.duplicated().sum()}")

Duplicate Rows Before: 355
Duplicate Rows After: 0

In [ ]:
# Min-max normalization function
def min_max_scaling(column):
    return (column - column.min()) / (column.max() - column.min())

# Apply normalization using .loc to avoid warnings
df.loc[:, 'GPA_Normalized'] = min_max_scaling(df['GPA'])
df.loc[:, 'SAT_Score_Normalized'] = min_max_scaling(df['SAT_Score'])

# Verify normalization
df[['GPA', 'GPA_Normalized', 'SAT_Score', 'SAT_Score_Normalized']].head()

    GPA  GPA_Normalized  SAT_Score  SAT_Score_Normalized
0  2.62           0.310     1138.0              0.337159
1  3.39           0.695     1153.0              0.358680
2  2.27           0.135     1058.0              0.222382
3  2.63           0.315     1449.0              0.783357
4  3.02           0.510     1455.0              0.791966

In [14]:
# Save cleaned data to processed folder
cleaned_file_path = "../data/processed/admission_data_cleaned.csv"
df.to_csv(cleaned_file_path, index=False)

print("‚úÖ Cleaned dataset saved successfully!")

‚úÖ Cleaned dataset saved successfully!